
.colortheme{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5vh;
    padding: 0 8rem;
    gap: 1rem;
  }
  
  .colortheme> button{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: none;
  }
  
  .colortheme>button:hover{
    border: 2px solid var(--highlight);
  }
  