.pokeapi {
  width: 70%;
  margin: 0 auto;
}

.pokeapi > h1 {
  font-size: 3rem;
  font-family: "Ubuntu";
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pokeapi > .typeFilter {
  width: 100%;
}
.pokeapi > .typeFilter > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pokeapi > .typeFilter > ul > li > button {
  text-transform: uppercase;
  height: 2rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: white;
  font-weight: 700;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pokeapi > .searchPokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.pokeapi > .searchPokemon > input {
  width: 50rem;
  height: 30px;
  color: gray;
  border: none;
  background-color: #e7e7e72d;
  border-bottom: 0.5px solid rgb(5, 5, 5);
  outline: none;
}

.pokeapi > .searchPokemon > .searchBtn {
  text-transform: uppercase;
  height: 2rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: white;
  font-weight: 700;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.pokeapi > .searchPokemon > .searchBtn > img {
  width: 20px;
}


.pokeapi > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 2rem 0;
}

.pokeapi > div > h3 {
  margin-top: 5rem;
  font-weight: 400;
}
.pokeapi > div > .pokemoncard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 350px;
  gap: 1rem;
  box-shadow: 0 8px 15px 0 rgba(46, 50, 114, 0.37);
  border-radius: 10px;
}

.pokeapi > div > figure > .pokemonCardEdge {
  position: absolute;
  background-color: var(--background-color);
  height: 222px;
  width: 230px;
  z-index: 1;
  margin-top: 8rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.pokeapi > div > figure > h2 {
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-size: 18px;
  z-index: 2;
}

.pokeapi > div > figure > .pokemonImage {
  width: 150px;
  z-index: 2;

  filter: drop-shadow(5px 5px 5px #666666);
}
.pokeapi > div > .pokemoncard > .pokemonDescription {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 0.8rem 0;
  z-index: 2;
}
.pokeapi > div > .pokemoncard > .pokemonDescription > p {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.pokeapi > div > .pokemoncard > .pokemonDescription > p > span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}
.pokeapi > div > figure > div {
  display: flex;
  gap: 0.5rem;
}

.pokeapi > div > figure > div > img {
  width: 20px;
  height: 20px;
  z-index: 2;
}

.invisible {

display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #757575;
  border-radius: 50%;
  display: flex;
  margin: 3rem auto;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 4px solid #797979;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}

.grass {
  background-color: #63bb5b;
}

.bug {
  background-color: #90c12c;
}

.dark {
  background-color: #5a5366;
}

.dragon {
  background-color: #0a6dc4;
}

.electric {
  background-color: #f3d23b;
}

.fairy {
  background-color: #ec8fe6;
}

.fighting {
  background-color: #ce4069;
}

.fire {
  background-color: #ff9c54;
}

.flying {
  background-color: #8fa8dd;
}

.ghost {
  background-color: #5269ac;
}

.ground {
  background-color: #d97746;
}

.ice {
  background-color: #74cec0;
}

.normal {
  background-color: #9099a1;
}

.poison {
  background-color: #ab6ac8;
}

.psychic {
  background-color: #f97176;
}

.rock {
  background-color: #c7b78b;
}

.steel {
  background-color: #5a8ea1;
}

.water {
  background-color: #4d90d5;
}

@media screen and (max-width: 1255px) {
  .pokeapi > .searchPokemon > input {
    width: 30rem;
  }
}

@media screen and (max-width: 795px) {
  .pokeapi > .searchPokemon > input {
    width: 20rem;
  }
  .pokeapi > .typeFilter > ul > li > button {
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}

@media screen and (max-width: 570px) {
  .pokeapi > h1 {
    font-size: 2.5rem;
  }
  .pokeapi > .searchPokemon > input {
    width: 10rem;
  }
  .pokeapi > .typeFilter > ul > li > button {
    margin-top: 0.5rem;
  }
}
