
.pokeapi > h1{

    font-size: 3rem;
    font-family: "Press Start 2P";
    margin: 2rem;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


.pokeapi > .typeFilter {
    margin: 1rem;
}
.pokeapi > .typeFilter > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.pokeapi > .typeFilter > ul > li > button {
    background-color: transparent;
}

.pokeapi > .searchPokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}


.pokeapi > .searchPokemon > input {

    width: 200px;
    height: 30px;
    color: var(--background-color);

}


.pokeapi > .searchPokemon > .searchBtn {
    height: 32px;
    width: 80px;
    color: var(--background-color);

}


.pokeapi > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pokeapi > div > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
    gap: 1rem;
}

.pokeapi > div > figure > h2 {
    text-transform: uppercase;
    font-family: "Press Start 2P";
    font-size: 16px;
}

.pokeapi > div > figure > div {
    display: flex;
    gap: 0.5rem;
}
.pokeapi > div > figure > div > img{
    width: 20px;
    height: 20px;
}



