.PPoT {
  background: linear-gradient(to bottom, #eaecc6, #2bc0e4);
}

.PPoT > .insWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.PPoT > .insWindow > .insModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 600px;
  height: 350px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.PPoT > .insWindow > .insModal > h5 {
  font-size: 1.8rem;
  font-family: "Ubuntu";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.PPoT > .insWindow > .insModal > h6 {
  margin-bottom: 2.5rem;
  font-size: 0.8rem;
}

.PPoT > .insWindow > .insModal > button {
  margin-top: 3.5rem;
  width: 80px;
  height: 2rem;
  border-radius: 5px;
  border: none;
  background-color: #8fb8ea;
  color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.PPoT > .insWindow > .insModal > .insImage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.PPoT > .insWindow > .insModal > .insImage > .biggerThan {
  width: 30px;
}
.PPoT > .gameInfo {
  background-color: transparent;
  border: none;
  position: relative;
  top: -1rem;
}

.PPoT > .gameInfo > img {
  width: 40px;
}
.PPoT > h1 {
  font-size: 3rem;
  font-family: "Press Start 2P";
  padding: 0 2rem 2rem 2rem;
  display: flex;
  color: white;
  text-transform: uppercase;
  text-shadow: 5px 5px 2px black;
  letter-spacing: -1px;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: black;
}

.PPoT > .gamePPoT {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  min-height: 55vh;
}

/* ----------------- PLAYER1 ---------------*/

.PPoT > .gamePPoT > .player1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.PPoT > .gamePPoT > .player1 > .player1Info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.PPoT > .gamePPoT > .player1 > .player1Info > img {
  width: 80px;
}

.PPoT > .gamePPoT > .player1 > .player1Info > .P1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.PPoT > .gamePPoT > .player1 > .gameP1 {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  margin-top: 1rem;
  margin-left: 2rem;
}
.PPoT > .gamePPoT > .player1 > .gameP1 > .btnPPoT {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.PPoT > .gamePPoT > .player1 > .gameP1 > .btnPPoT > button {
  border: none;
  align-self: flex-end;
}

.PPoT > .gamePPoT > .player1 > .gameP1 > .btnPPoT > button > img {
  width: 100px;
}

.PPoT > .gamePPoT > .player1 > .gameP1 > figure {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.PPoT > .gamePPoT > .player1 > .gameP1 > figure > img {
  width: 170px;
}

/* ---------------- PLAYER2 ----------------- */

.PPoT > .gamePPoT > .player2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.PPoT > .gamePPoT > .player2 > .player2Info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.PPoT > .gamePPoT > .player2 > .player2Info > img {
  width: 80px;
}

.PPoT > .gamePPoT > .player2 > .player2Info > .P2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.PPoT > .gamePPoT > .player2 > .gameP2 {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  margin-top: 1rem;
  margin-right: 2rem;
}
.PPoT > .gamePPoT > .player2 > .gameP2 > .btnPlayer2 {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.PPoT > .gamePPoT > .player2 > .gameP2 > .btnPlayer2 > button {
  border: none;
}

.PPoT > .gamePPoT > .player2 > .gameP2 > .btnPlayer2 > button > img {
  width: 100px;
}

.PPoT > .gamePPoT > .player2 > .gameP2 > figure {
  width: 200px;
  display: flex;
  align-items: center;
}

.PPoT > .gamePPoT > .player2 > .gameP2 > figure > img {
  width: 170px;
}

.PPoT > .gamePPoT > .player1 > .player1Info > .P1 > h2,
.PPoT > .gamePPoT > .player2 > .player2Info > .P2 > h2 {
  font-family: "Press Start 2P";
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px 2px black;
}

.PPoT > .gamePPoT > .player1 > .player1Info > .P1 > h3,
.PPoT > .gamePPoT > .player2 > .player2Info > .P2 > h3 {
  font-family: "Press Start 2P";
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px 2px black;
  font-size: 1.3rem;
}

.btnPPoT > button,
.btnPlayer2 > button {
  background-color: transparent;
}

.PPoT > .winnerPhrase {
  font-family: "Press Start 2P";
  text-align: center;
  color: white;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 4px 4px 2px black;
  font-size: 2.5rem;
  padding: 1rem 0 2rem 0;
}

@media screen and (max-width: 960px){
  .PPoT > h1 {
    font-size: 2.6rem;
    padding-bottom: 1rem;
    text-align: center;
    -webkit-text-stroke: 0;
    
  }
  .PPoT > .insWindow > .insModal {
    width: 350px;
    height: 350px;
  }
  .PPoT > .insWindow > .insModal > h5{
    font-size: 1.5rem;
  }
  .PPoT > .insWindow > .insModal > .insImage{
    gap: 0.2rem;
  }
  .PPoT > .insWindow > .insModal > .insImage > .biggerThan{
    width: 25px;
  }
  .PPoT > .gameInfo{
    left: 1rem;
  }
  .PPoT > .gameInfo > img {
    width: 30px;
  }

  .PPoT > .gamePPoT > .player1 > .player1Info > img,.PPoT > .gamePPoT > .player2 > .player2Info > img{
    width: 60px;
  }

  .PPoT > .gamePPoT > .player1 > .player1Info > .P1 > h2,
  .PPoT > .gamePPoT > .player2 > .player2Info > .P2 > h2{
    font-size: 1rem;
    -webkit-text-stroke: 0;
  }

  .PPoT > .gamePPoT > .player1 > .player1Info > .P1 > h3,
.PPoT > .gamePPoT > .player2 > .player2Info > .P2 > h3{
  -webkit-text-stroke: 0;
  font-size: 0.9rem;
}
  .PPoT > .gamePPoT {
    flex-direction: column;
  }
  .PPoT > .gamePPoT > .player1{
    width: 80%;
  }
  .PPoT > .gamePPoT > .player1 > .player1Info {
    order: 1;
  }
  .PPoT > .gamePPoT > .player1 > .gameP1 {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 0;
    gap: 2rem;
    
  }
  .PPoT > .gamePPoT > .player1 > .gameP1 > .btnPPoT {
    flex-direction: row;
    gap: 2.2rem;
    width: 100%;
    justify-content: space-between;
  }
  .PPoT > .gamePPoT > .player1 > .gameP1 > figure {
    order: -1;
    height: 100px;
    justify-content: start;
  }

  .PPoT > .gamePPoT > .player1 > .gameP1 > figure > img,  .PPoT > .gamePPoT > .player2 > .gameP2 > figure > img {
    width: 110px;
  }

  .PPoT > .gamePPoT > .player1 > .gameP1 > .btnPPoT > button > img{
    width: 90px;
  }
  .PPoT > .gamePPoT > .player2 {
    order: -1;
    width: 80%;
  }
  .PPoT > .gamePPoT > .player2 > .gameP2{
    width: 100%;
    justify-content: end;
    margin: 0;
  }
  .PPoT > .gamePPoT > .player2 > .gameP2 > figure{
    height: 100px;
    justify-content: end;
  }
  .PPoT > .gamePPoT > .player2 > .gameP2 > .btnPlayer2 {
    display: none;
  }
  .PPoT > .winnerPhrase {
    font-size: 1.8rem;
    -webkit-text-stroke: 0;
  }
}


@media screen and (max-width: 500px) {

  .PPoT > .gamePPoT > .player1 > .gameP1 > .btnPPoT > button > img{
    width: 70px;
  }
  .PPoT > .gamePPoT > .player1 > .gameP1 > figure > img,  .PPoT > .gamePPoT > .player2 > .gameP2 > figure > img {
    width: 90px;
  }
  .PPoT > .gamePPoT > .player2, .PPoT > .gamePPoT > .player1{
    width: 100%;
  }

}